h1{
    background-color: green;
}
div{
    background-color: rgb(227, 227, 235);
}
p{
    background-color: rgb(43, 226, 49);
}
 body{
    background-color: brown;
 }
 title{
    color: #000;
    padding: auto;
    
 }
